@model IEnumerable<Product>
@{
    ViewData["Title"] = ViewData["GroupName"];
}

<div class="mt-3 text-center">
<h2>محصولات گروه @ViewData["GroupName"]</h2>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_BoxProduct" model="@item" />
    }
</div>
</div>