@{
    ViewData["Title"] = "تماس با ما";
}

<div class="mt-3">
<h1 class="text-center">تماس با ما</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card bg-light mb-3" style="max-width: 20rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h4 class="card-title">ارتباط با ما</h4>
                <p class="card-text">02188463389</p>
                <p class="card-text">09382433790</p>
                <p class="card-text">info@arsalan.sc30@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="jumbotron">
            <h3>به فروشگاه ما خوش آمدید</h3>
            <p class="lead">می‌توانید از طریق راه های ارتباطی با ما در تماس باشید</p>
        </div>
    </div>
</div>
</div>
