@model IEnumerable<Product>

@{
    ViewData["Title"] = "فروشگاه من";
}

<div class="text-center">
    <h2>به فروشگاه ما خوش آمدید</h2>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_BoxProduct" model="@item" />
        }
    </div>
</div>
